.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30vh;
    background-color: rgb(28, 28, 28);
}

.footer, textarea{
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    color: white
}

#ucb_logo{
    width: 100%;
}